.ayu-message-box_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .ayu-message-box {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 20px;
    background-color: #fff;
    .ayu-message-box_header {
      display: flex;
      justify-content: space-between;
      padding: 0 0 10px 0;
      .ayu-message-box_title {
        font-size: 18px;
        line-height: 1;
        color: #303133;
      }
      .ayu-message-box_close {
        font-size: 16px;
        line-height: 1;
        font-weight: 400px;
        &:hover {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
    .ayu-message-box_content {
      position: relative;
      padding: 10px 0;
      color: #606266;
      font-size: 14px;
    }
    .ayu-message-box_footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
      .ayu-button {
        margin-left: 5px;
      }
    }
  }
}