.ayu-message {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
  font-size: 20px;
  color: $color-info;
  border: 1px solid #dcdfe6;
  background-color: #fff;
  transition: opacity 0.3s, transform .4s;
  p {
    font-size: 14px;
    color: $color-info;
    margin-left: 5px;
  }
}

.ayu-message--success {
  color: $color-success;
  p {
    color: $color-success;
  }
}

.ayu-message--warning {
  color: $color-warning;
  p {
    color: $color-warning;
  }
}

.ayu-message--error {
  color: $color-danger;
  p {
    color: $color-danger;
  }
}

// 动画
.ayu-message-fade-enter,
.ayu-message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}