.ayu-pagination {
  display: flex;
  /* 显示总数和跳转到多少页样式 */
  .pagination-sm .ayu-total,
  .pagination-sm .ayu-pagination__jump {
    height: 34px;
    line-height: 34px;
  }
  .ayu-total,
  .ayu-pagination__jump {
    height: 37px;
    line-height: 37px;
  }
  .pagination-lg .ayu-total,
  .pagination-lg .ayu-pagination__jump {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
  .ayu-total,
  .ayu-pagination__jump {
    font-size: 13px;
    min-width: 35.5px;
    font-weight: 400;
    margin-right: 10px;
    color: #606266;
    vertical-align: top;
    box-sizing: border-box;
  }
  .ayu-pagination__jump {
    margin-left: 24px;
    display: flex;
  }
  /* input样式 */
  .ayu-input {
    width: 50px;
    margin: 0 2px;
  }
  .ayu-input-inner {
    width: 48px;
    height: 28px;
    padding: 0 3px;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    text-align: center;
    font-size: inherit;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    box-shadow:none;
    outline:none;
  }
  .ayu-input-inner:focus {
    border-color: $color-primary;
    border-radius: 4px;
    outline:none;
    box-shadow:none;
  }
  /* 显示总数和跳转到多少页样式--结束 */
  /* 中间页码的样式 */
  .pagination {
    margin: 0;
  }
  .pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .215rem;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .pagination-gap .page-item:first-child .page-link, .pagination-gap .page-item:last-child .page-link {
    border-radius: 5px;
  }
  .page-item:first-child .page-link {
      margin-left: 0;
      border-top-left-radius: .215rem;
      border-bottom-left-radius: .215rem;
  }
  .pagination-gap .page-link {
      margin: 0 5px;
      border-radius: 5px;
  }
  /* 小样式 */
  .pagination-sm .page-link {
      padding: .329rem .686rem;
      font-size: .5rem;
      line-height: 1.5;
  }
  /* 大样式 */
  .pagination-lg .page-link {
      padding: .515rem 1.015rem;
      font-size: 1.286rem;
      line-height: 1.3333333333;
  }
  .page-link {
      position: relative;
      display: block;
      padding: .329rem .886rem;
      margin-left: -1px;
      line-height: 1.57142857;
      color: #76838f;
      background-color: transparent;
      border: 1px solid #e4eaec;
      font-weight: 600;
  }
  a {
      text-decoration: none;
      background-color: transparent;
  }
  user agent stylesheet
  a:-webkit-any-link {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
  }
  /* 当前激活样式 */
  .page-item.active .page-link{
    background-color: $color-primary;
    color: #fff!important;
  }
  .page-item:not(.active) > .page-link:hover {
    border-color: $color-primary;
    color: $color-primary;
  }
  /* 禁止点击 */
  .page-item.disabled .page-link {
    color: #ccd5db!important;
    pointer-events: none;
    background-color: transparent!important;
    border-color: #e4eaec!important;
  }
  .ayu-pagination.disabled{
    cursor: not-allowed;
  }
  .ayu-pagination.disabled .pagination .page-link,
  .ayu-pagination.disabled .pagination .page-item.active .page-link{
    color: #ccc!important;
    background-color: transparent!important;
  }
  .ayu-pagination.disabled .pagination .page-item {
    pointer-events: none;
  }
  .ayu-pagination.disabled .ayu-input-inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
  }
}
/* 中间页码的样式--结束 */